html {
  font-size: 10px;
  background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
   background-image: url('img/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: #eeff00;
  background: rgba(0,0,0,0.5);
  text-shadow: 0 0 .5rem red;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}

h1,h2{
	text-align: center;
    font-family: 'Abril Fatface', cursive;
	font-size: 3em;
  text-shadow: 0 0 1rem orange;
  width: 100%;color:#570E06;
}

p.key{
	position:absolute;
	top:5%;
	left: 10%;
	color:#ffe100;
}

.k-a{
	position:absolute;
	top:23%;
	left: 18%;	
}

.k-s{
	position:absolute;
	top:41%;
	left: 10%;}

.k-d{
	position:absolute;
	top:59%;
	left: 18%;
}


.k-f{
	position:absolute;
	bottom:5%;
	left: 10%;
}	

.k-g{
	position:absolute;
	top:5%;
	right: 10%;
	
}


.k-h{
	position:absolute;
	top:23%;
	right: 18%;
	
}


.k-j{
	position:absolute;
	top:41%;
	right: 10%;
}


.k-k{
	position:absolute;
	top:59%;
	right: 18%;
	
}

.k-l{
	position:absolute;
	bottom:5%;
	right: 10%;
}	
